[2014-09-02 22:45] jennybc opened #1 "Embellish your info on the People page"
@STAT545-UBC/owners

You are all mentioned on our People page.

Source:
https://github.com/STAT545-UBC/STAT545-UBC.github.io/blob/master/people.md

Compiled result:
http://stat545-ubc.github.io/people.html

Feel free to edit that page. Please compile to HTML and commit both at same time (after previewing the HTML locally). If you're worried about your local environment producing HTML that is incon

[2014-09-03 19:25] jennybc opened #2 "Improve our nav bar"
@daattali Let's put your front end skilz to good use :)

I'd like to enhance the nav bar on http://stat545-ubc.github.io

I'd like to be consistent with my web philosophy for this course: keep things as simple as possible!

How nav bar currently produced:
- Intensive Googling led me to write `libs/local/nav.css`, mostly relying on the tutorial [Simple Horizontal Navigation](http://css-snippets.com

[2014-09-04 02:40] #1 closed, assigned to nobody

[2014-09-05 21:04] sjackman opened #3 "Repository name format"
What student repository name format would you like?
- `surname`-`first name` or `first name`-`surname`? e.g. `Jackman-Shaun` or `Shaun-Jackman`
- Leading caps or lower case? e.g. `Shaun-Jackman` or `shaun-jackman`

[2014-09-05 21:31] #3 closed, assigned to jennybc

[2014-09-08 00:00] #2 closed, assigned to nobody

[2014-09-27 15:23] jennybc opened #7 "Rework the includes for top of web pages"
We include our navbar with this bit of YAML in `_output.yaml`:

[code]

Question 1: should we be using `in_header` instead of `before_body`? Look at [`_output.yaml`](https://github.com/rstudio/rmarkdown/blob/gh-pages/_output.yaml) for https://github.com/rstudio/rmarkdown which is served out of the `gh-pages` branch of https://github.com/rstudio/rmarkdown/blob/gh-pages/_output.yaml:

[code]

Questi

[2014-10-02 01:28] #7 closed, assigned to daattali

[2014-10-27 03:44] huilingliu opened #9 "Peer review hw5"
I just find both homework, I peer reviewed,  used the same method to remove Oceania :
h_continent<- c("Africa","Americas","Asia","Europe")
 fDat<-gDat %>%
  filter(continent %in% h_continent)
It should get a different data frame with the content, comparing to other methods, I mentioned in my homework5.
I can not figure out the reason!?

[2014-10-30 03:23] daattali opened #10 "How to display the dplyr cheatsheet tables nicely?"
@jennybc 's [dplyr join cheatsheet](https://github.com/STAT545-UBC/STAT545-UBC.github.io/blob/master/bit001_dplyr-cheatsheet.md) is awesome and I wanted to put a copy of it in my "sampler repo" (without altering the author name of course).

I noticed the [rmd file](https://github.com/STAT545-UBC/STAT545-UBC.github.io/blob/master/bit001_dplyr-cheatsheet.rmd) has an actual <table> tag for the tables

[2014-10-30 19:03] #10 closed, assigned to nobody

[2014-11-06 19:23] jennybc opened #11 "Remove fake files created for regular expression lesson?"
@gloriali Can you (I think) remove the fake files you planted for the regular expression lesson?

However, I want the lesson to remain intact and reusable ….

Suggested measures:

In an HTML comment or R comment in a hidden chunk, leave clear instructions on which files to add back to the repo to restore the fake files in all their poorly-named glory.

Hardwire a suitable value for the character v

[2014-11-12 01:07] jennybc opened #14 "Rationalize my use of an external site for slides"
I started out using SlideShare.

http://www.slideshare.net/jenniferbryan5811

Then @sjackman suggested I use Speakerdeck because GitHub.

https://speakerdeck.com/jennybc

I tried that for the slides here:

http://stat545-ubc.github.io/cm104_data-cleaning.html

Immediate reactions:

  * I like the smaller embed with Slideshare. Not immediately obvious how to achieve that with Speakerdeck.
  * If I

[2015-02-23 23:34] hadley opened #17 "Thoughts on "unreasonable effectiveness""
* It might be cool to show people how to add an "edit this page" link. This has been great way of getting improvements to the r-pkgs/adv-r books.

* I think I've finally figured out a workflow that will support this same scenario for vignettes. I just have to find the time to implement it (it needs some changes to `devtools::install()`)

* I think there are also benefits to checking in rendered .m

[2015-02-25 02:34] jennybc commented on #17
These are all great ideas!

I'm very interested in the right way to have a compiled vignette show up somewhere on GitHub automagically in a hosted package that's being documented, checked, and built regularly. A browsability "win" for the subset of repos that are also R packages.

Yeah, I should add a screenshot from GitHub or SourceTree showing diffs of, e.g. PNGs, because it's great example vers

[2015-02-25 02:36] hadley commented on #17
I think that should be the job of travis + staticdocs or similar, I just haven't had the time to spend on it lately.

[2015-02-25 03:23] jennybc commented on #17
Maybe that will be a nice thing to add once the dust settles re: R-native Travis thing (https://staging.travis-ci.org/craigcitro/r-travis/builds/428427). Would vignette creation and publishing be something one can activate via the `devtools::use_travis()` function?

[2015-02-25 13:35] hadley commented on #17
I don't think it will be built into `devtools::use_travis()` but it might be an additional helper function. I just need to figure out a robust process before encoding it in a function.

[2015-08-12 21:32] jennybc opened #19 "Add Hyndman blog post re Make"
Via @voovarb on twitter

http://robjhyndman.com/hyndsight/makefiles/

Add this to link collection re: make

[2015-09-07 07:54] daattali opened #20 "Add info to README about how to make edits/add content to the website?"
Not sure if you want to put this info in the README, but I just wanted to make a small edit to the people page but wasn't sure what the exact workflow is (I assume I just edit the markdown, render it to html, and add both the md and html files?)

[2015-09-07 14:59] jennybc commented on #20
Yes. This is an example of something one of us could make nicer on the backend, i.e. add "edit this page" buttons and automate the knitting. But you're right a README is better than nothing.

[2015-09-09 22:43] #9 closed

[2015-09-10 17:51] daattali commented on #20
I just updated some info about git but I only changed the markdown files, I did not add the html files because when I render them on my Windows machine it changes all the slashes and uses different bootstrap version. I *could* render all the html files and manually revert the lines that shouldn't be changed, but I'm hoping there's a better solution.

[2015-09-10 19:51] jennybc commented on #20
As we just discussed in person, let's:

  * declare an official bootstrap version, make it very current, and require everyone to use it
    - [Migrating Websites to Bootstrap 3](http://rmarkdown.rstudio.com/html_document_format.html#creating-a-website)
  * make the windows people figure out this slash thing, i.e. fix it on their end

[2015-09-10 23:23] daattali commented on #20
- I just created a new CSS style, I only added it to one page so you can see it and accept it before it goes live.  [here](http://stat545-ubc.github.io/block022_regular-expression.html).  Let me know if you want me to add that to the whole site (it only involves 2 line changes)

- I [filed an issue](https://github.com/rstudio/rmarkdown/issues/512) with rmarkdown regarding slashes so that I would b

[2015-09-10 23:48] jennybc commented on #20
Yes love the new CSS.

OK I will deal with the bootstrap thing while we let the slash issue play its course and someone, possible @ksamuk, determines how far we are from having a Makefile to re-render everything in an intelligent way, now and in future.

[2015-09-11 00:32] ksamuk commented on #20
Also digging the new CSS! I will have a look into the Makefile stuff this evening/tomorrow morning. <famous last words> How hard can it be? </famous last words>. I'm also not super clear about how all naming conventions on the site fit together (e.g. the prefixes bit###_ and block###_, cm001_, etc.), but perhaps that will become apparent as I work through this!

[2015-09-11 01:47] daattali commented on #20
So do I have the :+1: to go ahead and change the theme to this css across the site?

I just looked at [devtool's git hook](https://github.com/hadley/devtools/blob/master/inst/templates/readme-rmd-pre-commit.sh) and made this precommit hook that seems to work. You need to place it in a file `.git/hooks/pre-commit`

[code]

@ksamuk sorry I took your job, just wanted to try it.. I'm not quite sure wh

[2015-09-11 03:15] jennybc commented on #20
Yes you have my blessing to recompile with better CSS and tell the rest of us what to do re: git precommit hook. How do you think this should relate to the bootstrap transition? And the slashes?

My filenaming convention:

  * block = a blob of content. The numbering is used to put in rough order of presentation. The slugs give info on what it is. These things can have a life outside of STAT545 bu

[2015-09-11 04:30] daattali commented on #20
I've done the necessary update, but only files that are re-rendered will be affected. We need to re-render all the files anyway when you do the switch to bootstrap 3, so I'd say just do all the rendering then.  This does not impact the bootstrap transition at all. Though beware that bootstrap 3 does have a different CSS so some things might look a bit different.

The slashes issue is independent o

[2015-09-11 04:55] jennybc commented on #20
I love the simulation of what my blog could look like. And yet ... I don't know if I need the pressure.

All looks great! Will do my parts re: upgrading bootstrap. Thanks for this.

[2015-09-11 15:49] daattali commented on #20
official answer about the slash issue: [it is indeed a bug that wasn't know before, but they're reluctant to change it because it might break pandoc and it seems not worth it](https://github.com/rstudio/rmarkdown/issues/512)

so I'll just have to stick with manually reverting files, not too big of a deal

[2015-09-11 15:55] jennybc commented on #20
I heard you were really good with git commit hooks. Why don't you write one to deal with the slashes? :smirk:

[2015-09-11 16:20] ksamuk commented on #20
I'm new to using git hooks, but would it be possible to just use sed to switch the slashes? Could have a line in the for loop that does this? e.g.

[code]

[2015-09-11 16:21] ksamuk commented on #20
Also re: the Makefile, I needed to do a little refresher on using make in R, which was fun! Installing make on my Windows machine was a breeze with the instructions posted on the website, so nice job whoever put those together.

For our application, Jenny mentioned the basic Makefile from the rmarkdown github repo, e.g.:

[code]

Which merely wipes and re-render all the .Rmd files in the repo. Wha

[2015-09-11 17:27] jennybc commented on #20
I think that's all we need. I just want to be able to say `make all` or `make web` and have any thing re-rendered where the md and/or html is less fresh than the Rmd or md. We need a `make clean; make web` workflow so when ... Dean changes the CSS, for example ... we can cause *everything* to be re-rendered. Probably also need a way -- possibly communicated via filename? -- to signal that somethin

[2015-09-11 17:57] daattali commented on #20
I think sed would be good to use for the slashes issue, but I wouldn't want
to simply convert all \ to / because \ can exist in other places in the
document that are unrelated. But yes that's the general idea

---
http://deanattali.com

On 11 September 2015 at 10:27, Jennifer (Jenny) Bryan <
notifications@github.com> wrote:

[2015-09-11 18:01] ksamuk commented on #20
Right, Option 1 above is the hammer-of-the-gods approach. Are there any other case were slashes need to be fixed? If no, maybe Option 2 above would do the trick, i.e. surgically edit that one specific string.

[code]

[2015-09-11 18:14] jennybc commented on #20
Yihui just reminded me of this on twitter:

https://github.com/yihui/servr

Related to this discussion...

[2015-09-11 23:41] jennybc commented on #14
Although I still have the reactions about, I'm going with speaker deck because my github identity carries over and I've been putting more stuff there in the meantime.

I note that PDFy is quite nice but I think it's too shoestring for me.

https://pdf.yt

For example, they are accepting uploads right now, which is the kind of thing I can't deal with. Also, pretty sure I've uploaded something there

[2015-09-11 23:41] #14 closed

[2015-09-11 23:44] jennybc commented on #20
The bootstrap transition is done. I rendered lots of stuff "by hand" but will await a more automated solution to do it *en masse*.

[2015-09-12 17:31] ksamuk commented on #20
OK! I think I've worked out a Makefile that hits all the bases. Its pretty basic, so let me know what you guys think. See it here:

https://github.com/ksamuk/rmarkdown/blob/master/Makefile

Currently, it looks for all the html files that don't have the "_by_hand" prefix (which is a variable, so it can be set to whatever), and then renders them if they need to be updated (i.e. their Rmd/md is newer

[2015-09-12 17:34] ksamuk commented on #20
One thing I couldn't figure out is how to run specific rules through Rstudio. It seems that its either run everything except for clean, or run clean and then everything. So if we wanted to have a rule that say, removed all the "_by_hand.html" files, I'm not sure how to do that. Perhaps just running make normally from the command line is the way around this.

[2015-09-12 18:34] jennybc commented on #20
You are correct that only certain make targets are accessible via RStudio. Don't tell anyone but I have done some unholy things, like write a `clean` rule that's not exactly what the name suggests.

Yeah we should probably not do that but should go to the command line when necessary.

[2015-09-12 18:55] ksamuk commented on #20
OK, that's what I suspected. Its strange that the `make` integration is so limited, but whatever!

So right now we have `make clean` and `make web`, and the "by hand" avoidance rules (although we'd need to decide on how to tag those files and change the `BY_HAND` variable accordingly). `all` currently just points to `web`, so perhaps it could be removed?

Are there any other features we'd like? Ot

[2015-09-18 22:01] MaryHe opened #24 "Several of us did not receive the "invitation to STAT545 organization" Email"
I did not receive the email mentioned in class (invitation to STAT545 organization?) And I asked several classmates, they did not receive either. Is this a common problem or just us?

Thanks,
Mary

[2015-09-18 22:06] jennybc commented on #24
It is a common problem and it's ME. Coming soon ....

[2015-09-19 09:41] jennybc commented on #24
This should be done now. See https://github.com/STAT545-UBC/Discussion/issues/98.

For the future, a better place to open this issue is in our [Discussion repo](https://github.com/STAT545-UBC/Discussion/issues). This repository holds the content for the course website.

[2015-09-19 09:41] #24 closed

[2015-09-22 03:09] MaryHe opened #25 "Mark homework 1 of Mary-He"
@jennybc
38925929762c8f554efd34412b265803c347235f
https://github.com/STAT545-UBC/mary_he

[2015-09-22 03:16] ksamuk commented on #25
Hi @MaryHe, the idea is for you to actually open these issues in your private repo, not here! So, please re-make the issue in your private repo.

[2015-09-22 03:16] #25 closed

[2015-09-22 03:24] MaryHe commented on #25
Oops! Sorry, I just re-made the issue. Thanks!

[2015-09-22 19:02] daattali commented on #20
So I hope people actually prefer the new look to the old one.  Does someone want to render all pages instead of us playing catchup and rendering one by one before each class? Or is there a reason we're not doing that?

[2015-09-24 13:58] jennybc opened #26 "add explicit LICENSE file"
FYI there's already license info in the footer of all rendered pages but I should do this w/ explicit LICENSE file

[2015-09-24 14:05] jennybc commented on #26
apparently it's not even the footer of index

[2015-09-28 22:38] daattali commented on #26
It looks like the "this work is licensed under ..." will be default appear on all pages, but it's deliberately removed from several pages such as the homepage.  Was there any reason to purposely not include that footer on some pages? If not, that can be easily fixed

[2015-09-28 22:41] jennybc commented on #26
I think it was an aesthetic choice? That I justifed in my mind because there really isn't any *content* to license on such a page? I don't feel strongly about this. I just want it to be clear people can reuse the stuff.

[2015-09-29 00:02] daattali commented on #20
Note: I updated the precommit hook (in [this comment above](https://github.com/STAT545-UBC/STAT545-UBC.github.io/issues/20#issuecomment-139450099)) to only look at staged files because I was getting errors when trying to commit because files that were not staged did not pass the check

[2015-09-29 05:39] npjc opened #29 "Gitbook Testing"
@jennybc @STAT545-UBC/2015_ta

First preview the thingy [here](https://htmlpreview.github.io/?https://github.com/npjc/STAT545-UBC.github.io/blob/gitbook-play/zzz_gitbook-website-play/_book/index.html).
### what

On the [gitbook-play branch](https://github.com/npjc/STAT545-UBC.github.io/tree/gitbook-play) of my fork of the website I've pushed a really quick and dirty [gitbook](https://www.gitbook.c

[2015-09-29 06:50] jennybc commented on #29
OMG this is very exciting! :tada: Thank you so much for having a crack at this! I would love to get this content such that it makes a nicer website and a book. From my brief preview, this looks more like the former? Which is of great interest. We need to think about whether this should just become the future layout of the website ... I'm guessing yes?

This still leave the leanpub idea, which woul

[2015-09-29 07:25] #17 closed

[2015-09-29 11:07] daattali commented on #29
@npjc thanks for getting us started on this! I just looked into the different options a bit as well, and I spent a bit of time seeing what can be done with gitbook and leanpub (since they seem to be the most popular ones that everyone mentions).

The only benefit IMO that LeanPub offers over GitBook is that leanpub takes 10% of any sales while gitbook takes 20%.

**gitbook**
[I made a version avai

[2015-09-29 16:15] npjc commented on #29
:100:

As far as I understand there's no limitation to using both:

1. build w// gitbook
2. push .pdf / .epub to:
  * gitbook
  * leanpub
  * Amazon KDP
  * Apple iBookStore

The key would be figuring out the apis so that this can be scripted where its executed every release kinda thing..

[2015-10-01 03:29] npjc commented on #29
Now I find the relevant issue. For future self: STAT545-UBC/Discussion#84

[2015-10-07 14:37] jennybc opened #34 "Shiny challenge: implement sthg like superheroes.talent-lab.com"
tweet from @hrbrmstr

[2015-10-07 14:43] jennybc commented on #34
how `bout a working link?

http://superheroes.talent-lab.com

[2015-10-07 14:52] hrbrmstr commented on #34
To all of Dr. Bryan's students: My apologies for unwittingly creating extra work for you (but this shld be fun! mebbe? 😎)

[2015-10-07 15:01] jennybc commented on #34
They have to create an app anyway, so anything less boring than more Gapminder is sweet relief for us all.

[2015-10-27 02:07] npjc opened #36 "Datify people section"
I'm thinking it may be useful to turn the people section of the website into a `.csv` and use some simple generators to format the output.

eg.

[code]

Action steps:
- [ ] is this a good idea

if yes...
- [ ] agree on variables to store
- [ ] everyone punches in their data
- [ ] write the little functions to turn this into nice web-ly output format (which someone should decide on if different fro

[2015-12-01 21:37] BernhardKonrad opened #42 "Mini typo in HW09 (automation)"
I think the last "R Markdown" in [this line](https://github.com/STAT545-UBC/STAT545-UBC.github.io/blame/dd9b8ae0310ca1e6fd345cda2e3309a61aff3aab/hw09_automation.md#L131) should simple be "Markdown", no "R". It's a minor thing but could lead to confusion, e.g. https://github.com/STAT545-UBC/Discussion/issues/276

[2015-12-01 23:46] #42 closed

[2016-03-29 19:43] jennybc opened #43 "Incorporate data.table::fread() into the "get data in/out" lesson"

[2016-04-14 02:36] daattali opened #45 "Buy a domain for the course site eg. http://stat545.com"
(I thought I brought this up before, but I can't seem to find an issue about this)

STAT545 website is getting attention from all over the web.  It might be worth to spend the $15/year to have a nice domain for it that will make it much easier for students to remember the website, and also it'll give it a little bit more credibility.

After years of taking the course and being a TA, I still have t

[2016-04-14 04:06] jennybc commented on #45
Sure. Which extension is best you think? .com .org .ca ... ?

[2016-04-14 05:03] daattali commented on #45
I'd say .com is easiest for people , and is the most commonly assumed default.  I personally use namecheap.com as my domain registrar, it's just $10/year, and it's super easy to get it to work with a jekyll website

[2016-04-14 05:28] jennybc commented on #45
OK I am working on it (473ba3c0942d894ad6deebc6fe6b88af4dd4498d). Feel free to give instructions.

[2016-04-14 06:04] jennybc commented on #45
I definitely managed to break everything. Currently waiting ~15 mins to see if I have also subsequently unbroken everything.

[2016-04-14 06:38] daattali commented on #45
Breaking the site when the next class meeting is more than 5 hours away is small on you :)  Let me know if you need my help with anything.  Although, [stat545.com](http://stat545.com) seems to work for me so I think you're good? (It took me about 20 hours for my domain to work, so this was FAST!)

[2016-04-14 06:40] daattali commented on #45
The Google Analytics settings might need to be updated, I'm not sure

[2016-04-14 07:43] jennybc commented on #45
I appear to have unbroken things! 🎉

http://stat545.com

Will you look into whether we need to do anything re: Google Analytics? It can wait til after Friday's talk.

[2016-04-14 08:21] daattali commented on #45
I changed the URL setting. The dplyr cheatsheet seems to be your star page :star:

[2016-04-14 08:22] #45 closed

[2016-04-14 08:55] daattali commented on #45
Favicon is showing up now

[2016-04-14 14:53] jennybc commented on #45
Make me feel even worse that it's so ugly 😔

[2016-04-14 19:12] jennybc opened #46 "Deal with old STAT 545 content that Google LOVES to serve up"
Googling, I come across old STAT 545 stuff all the time.

And from #rstats twitter I know other people do too.
- [ ] identify all the old instances STAT 545 still on the web
- [ ] classify pages as
  - deprecated because current content completely supersedes
  - legacy-but-worth-preserving (e.g. lattice, plyr)
  - something in between 😞
  - OMG this should still be in STAT 545!
- [ ] create redire

[2016-05-26 03:25] jennybc opened #47 "bellybutton data: great example"
Copied from what I posted in https://github.com/Reproducible-Science-Curriculum/rr-organization1/issues/41

Might make a good homework? For wrangling? Or data package creation?

Came to my attention via @zross and @Pakillo [on twitter](https://twitter.com/zevross/status/735445465987219457)

Data on the biodiversity of belly buttons. You would get to say "belly button" a lot. And analyze innies vs

[2016-06-09 16:45] stephenturner opened #49 "oswald font not linked"
In your navbar you're wanting Oswald, but not getting it.

[code]

[2016-06-09 16:46] stephenturner commented on #49
might solve that by including the following in `include/in_header.html`

[code]

[2016-06-10 05:41] jennybc commented on #49
@daattali do you concur?

@stephenturner The navbar is something @daattali set up in the first place.

[2016-06-10 08:19] #49 closed

[2016-06-10 08:22] daattali commented on #49
@stephenturner is right (how did you find that?!), adding that line would fix that. Though I don't know why that's the desired font to begin with (I git-blamed that line, it looks like it was done before I was even as a TA).  I just removed that font and we can keep using the sans-serif font we've always had

[2016-06-12 00:06] daattali opened #50 "Make it clear to students that GitHub/git is not awesome for big files such as data files"
This is an issue that just came up with @keshiniD.  In 545 we did a great job at getting students to join the "woo let's put our entire research project on github!" bandwagon, but we didn't really make it clear enough that data files and other really really big files should not go there.  Maybe mention it in the useR workshop as well?

[2016-06-12 02:58] jennybc commented on #50
I know the actual rules but functionally, in practice, what is your personal definition of "big" here? At what size did you just experience pain? It also seems relevant whether the "big" files are changing or are static.

[2016-06-12 04:49] daattali commented on #50
I'd say github rules (100mb/file) are good enough to use as the guideline of what not to commit.  There are two problems:
1. one is usability, that big files just suck with git
2. With files > 100MB, GitHub will say "no, you can't push this because the file is too large", but the problem is that this only happens *after* the file is git-committed. So you have a commit in your git history locally b

[2016-06-12 06:25] jennybc commented on #50
Sure I can mention. I guess I never expected someone to blithely commit 100+ MB files to a repo. It is "easy" enough to get it out of the local repo, especially you will not have pushed by definition (yes that's sarcasm, I know it's not "easy" to edit the history). But I take your point that it's always good to discuss what is appropriate for version control and what's not.

[2016-06-12 06:25] #50 closed

[2016-06-12 13:08] stephenturner commented on #49
Oswald is thicker weight but narrower, makes for a nice navbar typeface if
you've got several headings. I actually liked it better on your site
template than the fallback sans-serif. I found it while tearing down the
css and other libs, transitioning to start using
http://rmarkdown.rstudio.com/rmarkdown_websites.html.

On Fri, Jun 10, 2016 at 4:22 AM, Dean Attali <notifications@github.com>
wrote:

[2016-09-18 20:46] scienceisfiction opened #55 "Link to Video about R reproducible workflow"
I'm trying to sell friends and colleagues on this RStudio/GitHub workflow and wanted to share this video spoof on thriller/horror film trailers about improved workflow thanks to use of these tools. Here's the [link](https://www.youtube.com/watch?v=s3JldKoA0zw)!

[2016-09-18 21:03] jennybc commented on #55
Yes! Thanks!

If you're willing play along ... I might title this "Link to video about R reproducible workflow" and describe like so ... "You played this awesome video in class on Sept 13 and I wanted to share w/ some colleagues, but I couldn't immediately find the link. Here it is: LINK. Would you add it to the slides and/or the class meetings notes?" 😄

Why?

It might not matter much in this cas

[2016-09-19 06:01] jennybc opened #56 "Add variable exclusion to data in/out lesson"
Show how to keep a variable from ever existing at all.

[code]

[2016-09-20 16:36] #55 closed

[2016-12-02 18:02] dtavern opened #59 "Broken link to HW10"
@jennybc

Hi Jenny, there's a broken link on the [Tuesday/Thursday lecture](http://stat545.com/cm111_webdata.html) leading to the HW10 Assignment. It's giving me a 404.

![broken_link](https://cloud.githubusercontent.com/assets/22035351/20844754/33e9e680-b876-11e6-8cc5-24305c5870ec.png)

[2016-12-02 20:11] jennybc commented on #59
I think that may be an aspirational link because I still need to write up that homework .... 😰 will do today.

[2016-12-06 18:04] jennybc opened #60 "Warning about NSE on "make your own package" homework"
There's an unusual amount of agony in the Discussion issues associated with people trying to wrap dplyr and ggplot2, because we don't teach about NSE. The homework should issue an appropriate warning and provide pointers for those who choose to pursue this anyway.

@samhinshaw Feel free to elaborate or link to issue threads you think will help the 2017 crew understand the context.

@daattali Shoul

[2017-08-14 20:21] gergness opened #62 "Encoding from Windows"
I've been troubleshooting code that deals with non-english text that I run both on Windows and Linux. The encoding section (block032) here was a big help, but behaves differently when run on Windows as compared to Linux.

(Of course, there is a chance that this is all entirely specific to my setup, and not really Windows issues. If so, sorry!)

Full results of knitting from my windows machine:
[bl

[2017-08-14 21:24] jennybc commented on #62
Thanks! This is especially hard because, as you say, there are issues of which encoding is used when opening the file and then there's what knitr does 😔 to it. And it all interacts.

[2017-11-28 09:06] markdly opened #65 "table formatting in dplyr cheatsheet"
I'm raising this issue as a follow up to this [twitter thread](https://twitter.com/JennyBryan/status/935273943006568449) regarding the formatting of the output when [bit001_dplyr-cheatsheet.rmd](https://github.com/STAT545-UBC/STAT545-UBC.github.io/blob/725f31181386a01feff79ab4afd0df78fd5ff316/bit001_dplyr-cheatsheet.rmd) is rendered. I thought a possible solution might be to take advantage of pred

[2017-11-28 23:49] #65 closed

[2018-01-15 23:53] jmostipak opened #67 "summarise_each() provided as example although function is deprecated"
The text provides `summarise_each()` [as a method for applying summary functions to multiple variables](http://stat545.com/block010_dplyr-end-single-table.html), however when executed returns the error message that `summarise_each()` is deprecated.

[2018-01-16 00:02] jennybc commented on #67
Do you want to have a go at this in a PR?

[2018-01-16 00:28] JesseMostipak commented on #67
sure - happy to give it a go!

[2018-01-17 01:33] osborneo opened #69 "`summarise_each()` is deprecated"
Hi there,
This is my first attempt at posting an issue and as a disclaimer I'm a complete  'R' beginner, so I'm apologizing in advance for any mistakes I'm making here.

I have a script I'm modifying to run on my computer (I didn't write it myself, it came as a supplement from an article) and I've run into a few problems, the first seems to be an error  `summarise_each()` is deprecated. Here is my

[2018-08-20 20:22] jennybc opened #71 "Split website for current/ongoing STAT 545 offering and STAT545.com"
This is meant to start a discussion.

I am beginning to contemplate a split between the website for the "current run" of STAT 545 and the (existing) course content.

Thoughts rattling around in my head re: why and how:

  * The current course should fall back to having its own site at STAT545-UBC.github.io (or elsewhere, whatever the instructor wants). And STAT545.com could lose all of the logisti

[2018-08-22 21:17] vincenzocoia commented on #71
@jennybc: I'll be instructing the class meetings wholly this fall, and agree with your overall sentiment to separate the "current run" from the content. I've been treating your content (i.e., things on the [topics notes](http://stat545.com/topics.html)) as your property, using it to underpin "guides" that I've been making for in-class use.

I think what happens in the future largely depends on wha

[2018-08-22 22:27] jennybc commented on #71
Also, maybe I should create a "STAT545" (no UBC) organization to eventually hold the Topics "asset" or ... plan to eventually move it back under my own account. I could still offer a web version from STAT545.com, I'm just talking about where source lives on GitHub now.

[2018-08-22 23:50] vincenzocoia commented on #71
Yes, these all sound aligned to what I was thinking. I'll keep you in the loop.

Also, I renamed the LMS org to `STAT545-UBC-classroom` -- I think it's more indicative.

I'll likely use the `cm**`'s for this, in the `classroom` org.

[2018-08-22 23:53] vincenzocoia commented on #71
And,

Yes, I wanted to leave the stuff under Topics alone. But this is getting more awkward, as the course content is evolving.

[2018-08-23 00:11] jennybc commented on #71
Thinking more ... it seems like **you** should just be using the existing [STAT545-UBC](https://github.com/STAT545-UBC/) Organization, i.e. there's no need for a new Org. Or if there is, it is I who should eventually move stuff out. What's your motivation for a new Org?

I like the "classroom" name. Seems like the new site that reflects running instances of STAT 545 at UBC could be based in a repo

[2018-08-23 00:16] jennybc commented on #71
I think it would be a good idea to think about having Orgs specific to each course run to hold student repos, though, because that situation is growing out of hand. Is there any talk of hosting those repos on the UBC instance of GitHub Enterprise?

It would probably be best if the STAT 545 Org only held course-level assets (your "classroom" repo, the existing Topics content, the Discussion repo).

[2018-08-23 02:17] vincenzocoia commented on #71
I wanted an org for which I have ownership over, so that I could create private repos for the students.  Adding me as an owner of `STAT545-UBC` would eliminate the need for a new repo. And I like the idea of having a `classroom` repo within the already existing `STAT545-UBC` org.

Re: class guides. The small PR approach sounds reasonable to me.

[2018-08-23 03:44] vincenzocoia commented on #71
Oops, missed your previous comment. If your experience is that it would be better to have one Org per year to handle student repos, then I'm totally on board to the two-Org situation. As for UBC's GitHub Enterprise, it's not quite ready for STAT 545.

Perhaps a `students` Org that gets replaced annually, alongside the STAT 545 Org, would be most appropriate.

[2018-08-23 04:27] jennybc commented on #71
I'm happy to do some of this once we agree on it, especially the bulk repo moving work. It always helps me find issues in various packages 😁

[2018-08-23 05:45] vincenzocoia commented on #71
Thanks, @jennybc.

I'm on board with this.

I intend to use a year-specific repository to host discussions -- at least for internal matters (i.e., assignments, office hours, etc). I can encourage students to post in the public-facing Discussions repo for content matters.

Or, a single pre-2018 repo for all of these?

[2018-08-23 15:05] jennybc commented on #71
I can't remember the exact process (and it may have changed) but you should probably create the 2018 Org(s) for student repos for 545 and 547 ASAP and request the academic thing where you get unlimited private repos for fee.

[2018-08-23 23:18] vincenzocoia commented on #71
Done, and added you @jennybc as an owner to avert limitations.

[2018-10-09 16:44] batpigandme opened #72 "Update status of RawGit in GitHub browsability section"
Per [RawGit's recent status update](https://twitter.com/rawgit/status/1049360165030567937):

I'm happy (and also sad) to add a ~strikeout~ amendment to GH browsability wins https://github.com/STAT545-UBC/STAT545-UBC.github.io/blob/master/bit006_github-browsability-wins.Rmd#html

[2018-10-10 02:08] #72 closed

[2019-08-07 22:21] vincenzocoia commented on #71
Reviving this thread, because last year's course structure ended up being too complicated. Here's what I'm suggesting for future years. I'll do the rejigging, along with @firasm.

- stat545.com contains both the "Topics" tab (@jennybc's realm), and the "current run" of the course (taking the place of last year's [`STAT545-UBC/Classroom`](https://github.com/STAT545-UBC/Classroom) repo / [stat545.co

[2019-08-07 22:45] jennybc commented on #71
Heads up @vincenzocoia:

Alison Hill (@apreshill) at RStudio and intern Grace Lawley (@gracelawley) have been working on porting STAT 545 content to bookdown over the summer. They have just reached a big milestone and are awaiting input from me. Separately, they have beautification plans. You can see a preview of the basic porting here: https://gracious-allen-b2d17f.netlify.com

One of the motivat

[2019-08-08 04:30] vincenzocoia commented on #71
Ah, that's great that this content is finally being ported to bookdown and hosted by netlify. So, if I'm understanding correctly, both parties will "start" with the same content currently found under the "Topics" tab, and then diverge by both parties modifying the content on our separate mediums (perhaps `rstudio-education` and `STAT545-UBC` Orgs) based on our specific needs? Or does "hand-off a c

[2019-08-08 05:03] jennybc commented on #71
Yep.

I suppose you could take a copy of this functioning bookdown site at any point now. Either by replacing the website content here with that or by making a new repo below the STAT545-UBC org that is literally a fork of that. The fork option would allow you to keep pulling changes for a while, while the versions are pretty close.

Yeah, I will use the stat545.com domain for this bookdown book.

[2019-08-08 06:04] vincenzocoia commented on #71
Sounds like a good idea. I might hold off. Going to give it some thought.

Okay, I'll see about having UBC host a more permanent domain like stat545-ubc.com, or better yet, stat545.ubc.ca. I'll keep you posted so that you can include a link somewhere on your end.

👍

[2019-08-13 04:14] vincenzocoia commented on #71
We now have stat545.stat.ubc.ca. Are you ready to take stat545.com now? Wouldn't want stat545.com to be hanging for very long.

Thinking more about this, I don't imagine STAT 545 @ UBC would _want_ to diverge all that much from the content in RStudio's STAT 545. I imagine RStudio's would be more like a textbook for STAT 545 @ UBC, and UBC would have "worksheet versions" of these notes to be used i

[2019-08-13 05:18] jennybc commented on #71
@apreshill How close are we to serving stat545.com from something produced from a different repo? Because that frees this repo up for @vincenzocoia et al to make it into what they need for the term starting after Labor Day.

Yeah, I agree. There are no plans to do anything that would diverge from this. So we could just regard the impending separation "move" as step 1 in making these things easier

[2019-08-20 15:42] apreshill commented on #71
Hi everyone,

I'm excited we could help make these course materials more portable and accessible!

@jennybc we are ready to serve the stat545.com domain. If you wanted to switch to using Netlify (or perhaps you already have?), we can configure the redirects (see our [current working list of links](https://github.com/gracelawley/stat545-rstudio/blob/time-travel/time-travel/reboot-ubc-ref-mappings.c

[2019-08-29 04:12] vincenzocoia commented on #71
Success! We now have:

- https://stat545.stat.ubc.ca/ as the main STAT 545 @ UBC website
    - corresponding repo [`STAT545-UBC/STAT545-home`](https://github.com/STAT545-UBC/STAT545-home)
- https://stat545guidebook.netlify.com as the "lecture notes"
    - corresponding (repurposed) repo [`STAT545-UBC/Classroom`](https://github.com/STAT545-UBC/Classroom)
    - may host this at https://stat545.stat.

[2019-08-29 04:24] vincenzocoia commented on #71
Actually, scrap that, since stat545.com will already be pointing elsewhere.

[2019-08-30 20:21] jennybc commented on #71
Congrats! OK this has lit a match under me re: turning the other site on, i.e. serving what @apreshill and @gracelawley have created via stat545.com. More soon.

[2019-09-16 15:18] jennybc commented on #71
Hi @vincenzocoia I think this can happen now:

I point use stat545.com domain for this content: <https://stat545-book.netlify.com>

Q1: Are you OK if that happens in the next ~24 hours? I plan to keep refining what's there, but we've crossed the threshold where it's clearly better than the current arrangements.

Q2: When I link back to the current UBC course, I'm linking to <https://stat545.stat.u

[2019-09-16 15:29] jennybc commented on #71
Also, @gracelawley has done a great job with redirects so that existing links to STAT545 content should redirect to the correct sub-pages, but with less annoying names. Example:

Original page: <http://stat545.com/block010_dplyr-end-single-table.html>

Will redirect to: `https://stat545.com/dplyr-single.html` after the transition

We can sort of preview / test this functionality by visiting

<http

[2019-09-16 22:36] vincenzocoia commented on #71
Q1: Yep, happy for this transition to happen anytime.

Q2: The URL https://stat545.stat.ubc.ca/ is indeed the correct pointer for STAT 545 @ UBC going forward.

Q3: I don't mind this repo keeping its name, and that might be the least confusing option. But I'm not opposed to a name change.

And thanks for letting me know about the redirects, that should be useful. Either way, I'll try to be vigilan

[2019-09-16 23:27] jennybc commented on #71
OK I've changed which content stat545.com points to. It's basically / sort of working. I think the current glitch re: https / certificate will self-resolve or I'll be able to resolve over the next 24 hours.

I think I would like this repo's name to change, just for clarity. Additionally, I propose to edit the README explaining that it's "frozen". We could then [archive it formally](https://help.gi

[2019-09-16 23:45] jennybc commented on #69
Thanks for this! We're preparing to archive this repo:

  * The non-perishable STAT 545 content has (finally) been ported to bookdown and lives in a new repo: <https://help.github.com/en/articles/archiving-repositories>
  * Material specific to the UBC course and individual course runs:
    - Website: <https://stat545.stat.ubc.ca>
    - Repo: <https://github.com/STAT545-UBC/STAT545-home>

If you s

[2019-09-16 23:45] #69 closed

[2019-09-16 23:46] jennybc commented on #67
Thanks for this! We're preparing to archive this repo:

  * The non-perishable STAT 545 content has (finally) been ported to bookdown and lives in a new repo: <https://help.github.com/en/articles/archiving-repositories>
  * Material specific to the UBC course and individual course runs:
    - Website: <https://stat545.stat.ubc.ca>
    - Repo: <https://github.com/STAT545-UBC/STAT545-home>

If you s

[2019-09-16 23:46] #67 closed

[2019-09-16 23:48] jennybc commented on #62
Thanks for this! We're preparing to archive this repo:

  * The non-perishable STAT 545 content has (finally) been ported to bookdown and lives in a new repo: <https://help.github.com/en/articles/archiving-repositories>
  * Material specific to the UBC course and individual course runs:
    - Website: <https://stat545.stat.ubc.ca>
    - Repo: <https://github.com/STAT545-UBC/STAT545-home>

If you s

[2019-09-16 23:48] #62 closed

[2019-09-16 23:49] #60 closed

[2019-09-16 23:49] #59 closed

[2019-09-16 23:49] #56 closed

[2019-09-16 23:50] #46 closed

[2019-09-16 23:50] #43 closed

[2019-09-16 23:50] #36 closed

[2019-09-16 23:50] #34 closed

[2019-09-16 23:50] #29 closed

[2019-09-16 23:50] #26 closed

[2019-09-16 23:51] #20 closed

[2019-09-16 23:51] #19 closed

[2019-09-16 23:51] #11 closed

[2019-09-16 23:57] #47 closed

[2019-09-17 03:29] jennybc commented on #71
I now think that changing the name of this repo might also be favourable for the web transition:

https://help.github.com/en/articles/unpublishing-a-user-pages-site

I would very much like to unpublish this site. We may eventually get to the need to delete `master` branch or delete the repo. But I think renaming is something we should do anyway and might help in my efforts to get Netlify serving a

[2019-09-17 03:32] jennybc commented on #71
Renamed to `STAT545-UBC-original-website`. Good for humans and, I hope, for computers and internet things.

[2019-09-17 04:45] gracelawley commented on #71
Hi @jennybc I didn't realize that you wanted to unpublish the original site when I made the redirects. I thought that (what is now) the `STAT545-UBC-original-website` repo would continue to exist at <https://STAT545-UBC.github.io>, so I had any pages that didn't make it into the bookdown reboot redirect to the gh pages site in an effort to save the rendered content. For example,

Original page: <h

[2019-09-17 06:26] jennybc commented on #71
I think redirecting to the Rmd, in the original website repo, is a good option of last resort.

Slightly better options that we might be able to work out:

  * Deciding that the content is best retired or link elsewhere.
  * Linking to something maintained below the current STAT 545 UBC course's site.

@vincenzocoia please weigh in if you have an opinion or are planning to maintain an exact copy o

[2019-09-17 20:19] vincenzocoia commented on #71
Sure. Perhaps when we close this Issue.

Also, I don't intend to refer to anything that doesn't end up in the STAT 545 book, so retiring the content in this repository isn't a big deal as far as STAT 545 @ UBC is concerned. It might be useful if these old tutorials like `ddply()` remain available, but probably not worth the effort of publishing on a website like STAT545-UBC.github.io.

[2019-09-17 23:23] jennybc commented on #71
I think we should just declare that content "retired". And if we need to link to it, we should link to **rendered markdown** (not the raw `.Rmd`) here.

@gracelawley The reason we don't want to maintain some legacy website is that, even if the content isn't changing, it still requires some care and feeding. And it's just not worth it to any of us. I also think it would be confusing. We've already

[2019-09-17 23:26] jennybc commented on #71
Closing this so I can archive the repo. We can undo this if necessary, but it seems pretty safe to do now.

[2019-09-17 23:26] #71 closed